<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net47" />
  <package id="Accord.Extensions.Core" version="3.0.1" targetFramework="net47" />
  <package id="Accord.Extensions.Math" version="3.0.1" targetFramework="net47" />
  <package id="Accord.Extensions.Statistics" version="3.0.1" targetFramework="net47" />
  <package id="Accord.Genetic" version="3.8.0" targetFramework="net47" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net47" />
  <package id="Accord.MachineLearning.GPL" version="3.8.0" targetFramework="net47" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net47" />
  <package id="Accord.Math.Noncommercial" version="3.8.0" targetFramework="net47" />
  <package id="Accord.Neuro" version="3.8.0" targetFramework="net47" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net47" />
  <package id="Avapi" version="1.4.8.1" targetFramework="net47" />
  <package id="CsvHelper" version="7.1.1" targetFramework="net47" />
  <package id="DotImaging.Primitives2D" version="2.5.3" targetFramework="net47" />
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Numerics.NET" version="1.0.43" targetFramework="net47" />
</packages>